<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
	<%- partial("../_snippets/googleAnalytics"); _%>
	<%- partial("../_snippets/meta"); _%>
	<title><%= partial("../_snippets/title"); _%></title>
	<%- partial("../_snippets/headImport"); _%>
</head>

<body class="blog">

<%- partial("../_snippets/header"); _%>

<main class="blog-list">
	<div class="container my-5">
		<h1 class="display-3">Latest posts</h1>
	</div>
	<article>
		<%- yield _%>
	</article>
</main>

<%- partial("../_snippets/footer"); _%>

</body>

</html>