<%
	const coverImageUrl = (() => {
		if (typeof coverImage !== "object") {
			return undefined;
		}

		return `${partial("../_snippets/currentPath")}/${coverImage.image}`
	})();
%>

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
	<%- partial("../_snippets/analytics") _%>
	<%- partial("../_snippets/meta", {
		meta: {
			...meta,
			imageUrl: coverImageUrl,
		}
	}); %>
	<title><%= partial("../_snippets/title"); %></title>
	<%- partial("../_snippets/structuredData", {
		structuredData: {
			"@context": "https://schema.org",
			"@type": "BlogPosting",
			"headline": title,
			"description": meta.description,
			"image": `https://www.marcoslopezc.com/${coverImageUrl || "images/thumbnail.png"}`,
			"dateCreated": created,
			"datePublished": created,
			"dateModified": created,
			"inLanguage": "en-US",
			"isFamilyFriendly": "true",
			"author": {
				"@type": "Person",
				"name": "Marcos López C.",
				"url": "https://www.marcoslopezc.com"
			}
		}
	}); %>
	<%- partial("../_snippets/headImport"); %>
</head>

<body class="blog">

<%- partial("../_snippets/header"); _%>

<main class="container my-5">
	<article class="row">
		<h1 class="display-1"><%= title %></h1>
		<p><small class="text-muted">Posted on <time pubdate datetime="<%= created %>"><%- partial("../_snippets/date", { date: created }) _%></time></small></p>
		<div class="blog-content mt-3">
			<%- partial("_coverImage") _%>
			<%- yield _%>
		</div>
	</article>
</main>

<%- partial("../_snippets/footer"); _%>

</body>

</html>