<!doctype html>
<html lang="en" data-bs-theme="dark">
	<head>
		<%- partial("_snippets/analytics"); _%>
		<%- partial("_snippets/meta"); %>
		<title><%= partial("_snippets/title"); %></title>
		<%- partial("_snippets/structuredData"); _%>
		<%- partial("_snippets/headImport"); %>
	</head>
	<body>
		<%- yield %>
	</body>
</html>
